.idea/
.next/                # Existing Next.js builds
.notes/
conf/nginx/           # We'll create this directory soon
.git/
.gitignore
.dockerignore
docker/Dockerfile
docker/docker-compose.yml
node_modules/         # Installed inside container
