services:
  nextjs:
    build:
      context: ../..
      dockerfile: docker/frontend/dev.Dockerfile
    container_name: nextjs
    networks:
      - app-network
    depends_on:
      - postgres
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextjs.rule=Host(`lordsholtodouglas.localhost`) || Host(`www.lordsholtodouglas.localhost`)"
      - "traefik.http.routers.nextjs.entrypoints=web"
      - "traefik.http.services.nextjs.loadbalancer.server.port=3000"
    volumes:
      - ../..:/app
      - ../../tsconfig.json:/app/tsconfig.json
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"

  postgres:
    image: postgres:17
    container_name: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}" ]
      interval: 10s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pg_data_dev:/var/lib/postgresql/data
    networks:
      - app-network

  migrate:
    image: migrate/migrate
    container_name: migrate
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: [
      "migrate",
      "-path", "/migrations",
      "-database", "postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:${DATABASE_PORT}/${DATABASE_NAME}?sslmode=disable",
      "up"
    ]
    volumes:
      - ../../migrations:/migrations
    networks:
      - app-network

networks:
  app-network:
    external: true

volumes:
  pg_data_dev: