services:
  nextjs:
    build:
      context: ../..
      dockerfile: docker/frontend/dev.Dockerfile
    container_name: nextjs
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextjs.rule=Host(`lordsholtodouglas.localhost`) || Host(`www.lordsholtodouglas.localhost`)"
      - "traefik.http.routers.nextjs.entrypoints=web"
      - "traefik.http.services.nextjs.loadbalancer.server.port=3000"
    volumes:
      - ../../app:/app/app
      - ../../components:/app/components
      - ../../content:/app/content
      - ../../db:/app/db
      - ../../lib:/app/lib
      - ../../migrations:/app/migrations
      - ../../prisma:/app/prisma
      - ../../public:/app/public
      - ../../.env:/app/.env
      - ../../next-env.d.ts:/app/next-env.d.ts
      - ../../next.config.ts:/app/next.config.ts
      - ../../prisma.config.ts:/app/prisma.config.ts
      - ../../tailwind.config.ts:/app/tailwind.config.ts
      - ../../tsconfig.json:/app/tsconfig.json
      - ../../types.d.ts:/app/types.d.ts
      - next_js_node_modules:/app/node_modules
      # - next_js_next:/app/.next
    ports:
      - "3000:3000"

networks:
  app-network:
    external: true

volumes:
  next_js_node_modules: