services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    command:
      - "--configFile=/traefik/traefik.prod.yml"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../traefik/traefik.prod.yml:/traefik/traefik.prod.yml:ro
      - ../traefik/acme.json:/letsencrypt/acme.json
    networks:
      - app-network

networks:
  app-network:
    external: true